source/Nidan/Nidan.Business/Service References/TemplateServiceReference/TemplateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TemplateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:814/TemplateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:814/TemplateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:814/TemplateService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITemplateServiceV1100_CreatePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePDF" />
  </wsdl:message>
  <wsdl:message name="ITemplateServiceV1100_CreatePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePDFResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateServiceV1100_CreatePDFfromPDFTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePDFfromPDFTemplate" />
  </wsdl:message>
  <wsdl:message name="ITemplateServiceV1100_CreatePDFfromPDFTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePDFfromPDFTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ITemplateServiceV1100_CreateText_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateText" />
  </wsdl:message>
  <wsdl:message name="ITemplateServiceV1100_CreateText_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTextResponse" />
  </wsdl:message>
  <wsdl:portType name="ITemplateServiceV1100">
    <wsdl:operation name="CreatePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateServiceV1100/CreatePDF" message="tns:ITemplateServiceV1100_CreatePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateServiceV1100/CreatePDFResponse" message="tns:ITemplateServiceV1100_CreatePDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePDFfromPDFTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateServiceV1100/CreatePDFfromPDFTemplate" message="tns:ITemplateServiceV1100_CreatePDFfromPDFTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateServiceV1100/CreatePDFfromPDFTemplateResponse" message="tns:ITemplateServiceV1100_CreatePDFfromPDFTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateText">
      <wsdl:input wsaw:Action="http://tempuri.org/ITemplateServiceV1100/CreateText" message="tns:ITemplateServiceV1100_CreateText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITemplateServiceV1100/CreateTextResponse" message="tns:ITemplateServiceV1100_CreateText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITemplateServiceV1100" type="tns:ITemplateServiceV1100">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePDF">
      <soap:operation soapAction="http://tempuri.org/ITemplateServiceV1100/CreatePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePDFfromPDFTemplate">
      <soap:operation soapAction="http://tempuri.org/ITemplateServiceV1100/CreatePDFfromPDFTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateText">
      <soap:operation soapAction="http://tempuri.org/ITemplateServiceV1100/CreateText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemplateService">
    <wsdl:port name="BasicHttpBinding_ITemplateServiceV1100" binding="tns:BasicHttpBinding_ITemplateServiceV1100">
      <soap:address location="http://localhost:814/TemplateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>